.App {
  text-align: center;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.map {
  height: 500px;
  border-style: solid;
  border-width: 4px;
  z-index: 7;
}

.actual-image{
  position: absolute;
  text-align: center;
  width: 20%;
  height: auto;
  left: 40%;

}

#nav {
  width: 5px;
  height: 5px;
}

.open {
  height: 100%;
  width: 20%;
  left: 0%;
  top: 0%;
  position: fixed;
}



.sidenav {
  background-color: black;
  font-family: 'Crimson Text';
  font-weight: bolder;
  font-size: medium;
  width: 17%;
  z-index: 999;
}

#autocomplete-Input {
  color: white;
}

.material-icons {
  font-size: 3rem;
  color: white;
}

.login-form {
  border: solid;
  justify-content: center;
  position: absolute;
  top: 375%;
  width: 35%;
  right: 32.5%;
  background-color: black;
  border-radius: 5px;
  box-shadow: 2px 2px 6px #bdbdbd;
}

.login-btn{
  position: absolute;
  top: 85%;
  left: 45%;
}

.signup-form {
  border: solid;
  justify-content: center;
  position: absolute;
  top: 375%;
  width: 35%;
  right: 32.5%;
  background-color: black;
  border-radius: 5px;

}

.signup-btn{
  position: absolute;
  top: 85%;
  left: 45%;
}

.location-btn {
  position: relative;

  left: 92%;

}

.inner-map-container {
    /* border: solid; */
}

.map-container {
  overflow: hidden;
  position: absolute;
  /* border: solid; */
  top: 300%;
  width: 100%
}
